import/from_qdoc/schemas/docbook51/custom.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://docbook.org/ns/docbook" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0">
  <include href="docbookxi.rng">
    <define name="db.classsynopsis">
      <element name="classsynopsis">
        <ref name="db.classsynopsis.attlist"/>
        <oneOrMore>
          <ref name="db.oo.inlines"/>
        </oneOrMore>
        <zeroOrMore>
          <choice>
            <ref name="db.classsynopsisinfo"/>
            <ref name="db.methodsynopsis"/>
            <ref name="db.constructorsynopsis"/>
            <ref name="db.destructorsynopsis"/>
            <ref name="db.fieldsynopsis"/>
            <ref name="qdt.synopsis"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <!-- GitHub issue: https://github.com/docbook/docbook/issues/59 -->
    <define name="db.paramdef">
      <element name="paramdef">
        <ref name="db.paramdef.attlist"/>
        <zeroOrMore>
          <choice>
            <ref name="db._text"/>
            <ref name="db.initializer"/>
            <ref name="db.modifier"/>
            <ref name="db.type"/>
            <ref name="db.parameter"/>
            <ref name="db.funcparams"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <!-- GitHub issue: https://github.com/docbook/docbook/issues/60 -->
    <define name="db.funcdef">
      <element name="funcdef">
        <ref name="db.funcdef.attlist"/>
        <zeroOrMore>
          <choice>
            <ref name="db._text"/>
            <ref name="db.type"/>
            <ref name="db.void"/>
            <ref name="db.function"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
  </include>
  <define name="qdt.synopsis">
    <choice>
      <ref name="qdt.enumsynopsis"/>
      <ref name="qdt.typedefsynopsis"/>
    </choice>
  </define>
  <!-- Deal with namespaces. -->
  <div>
    <define name="db.programming.inlines" combine="choice">
      <a:documentation>First the inline elements. </a:documentation>
      <choice>
        <ref name="qdt.namespace"/>
        <ref name="qdt.namespacename"/>
      </choice>
    </define>
    <define name="qdt.namespace.role.attribute">
      <attribute name="role"/>
    </define>
    <define name="qdt.namespace.attlist">
      <interleave>
        <optional>
          <ref name="qdt.namespace.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.common.linking.attributes"/>
      </interleave>
    </define>
    <define name="qdt.namespace">
      <element name="namespace">
        <ref name="qdt.namespace.attlist"/>
        <ref name="qdt.namespacename"/>
      </element>
    </define>
    <define name="qdt.namespacename.role.attribute">
      <attribute name="role"/>
    </define>
    <define name="qdt.namespacename.attlist">
      <interleave>
        <optional>
          <ref name="qdt.namespacename.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.common.linking.attributes"/>
      </interleave>
    </define>
    <define name="qdt.namespacename">
      <element name="namespacename">
        <ref name="qdt.namespacename.attlist"/>
        <ref name="db._text"/>
      </element>
    </define>
    <define name="db.synopsis.blocks" combine="choice">
      <a:documentation>Then the synopsis.</a:documentation>
      <ref name="qdt.namespacesynopsis"/>
    </define>
    <define name="qdt.namespacesynopsisinfo.role.attribute">
      <attribute name="role"/>
    </define>
    <define name="qdt.namespacesynopsisinfo.attlist">
      <interleave>
        <optional>
          <ref name="qdt.namespacesynopsisinfo.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.common.linking.attributes"/>
        <ref name="db.verbatim.attributes"/>
      </interleave>
    </define>
    <define name="qdt.namespacesynopsisinfo">
      <element name="namespacesynopsisinfo">
        <ref name="qdt.namespacesynopsisinfo.attlist"/>
        <ref name="db.verbatim.contentmodel"/>
      </element>
    </define>
    <define name="qdt.namespacesynopsis.role.attribute">
      <attribute name="role"/>
    </define>
    <define name="qdt.namespacesynopsis.attlist">
      <interleave>
        <optional>
          <ref name="qdt.namespacesynopsis.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.common.linking.attributes"/>
        <optional>
          <ref name="db.language.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="qdt.namespacesynopsis">
      <element name="namespacesynopsis">
        <ref name="qdt.namespacesynopsis.attlist"/>
        <oneOrMore>
          <ref name="db.programming.inlines"/>
        </oneOrMore>
        <zeroOrMore>
          <choice>
            <ref name="qdt.namespacesynopsisinfo"/>
            <ref name="db.classsynopsis"/>
            <ref name="db.funcsynopsis"/>
            <ref name="db.fieldsynopsis"/>
            <ref name="qdt.typedefsynopsis"/>
            <ref name="qdt.macrosynopsis"/>
            <ref name="qdt.enumsynopsis"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <!-- Deal with macros. Adapted from db.funcsynopsis. -->
  <div>
    <define name="db.programming.inlines" combine="choice">
      <a:documentation>First the inline elements. </a:documentation>
      <ref name="qdt.macro"/>
    </define>
    <define name="qdt.macro.role.attribute">
      <attribute name="role"/>
    </define>
    <define name="qdt.macro.attlist">
      <interleave>
        <optional>
          <ref name="qdt.macro.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.common.linking.attributes"/>
      </interleave>
    </define>
    <define name="qdt.macro">
      <element name="macro">
        <ref name="db.function.attlist"/>
        <ref name="db._text"/>
      </element>
    </define>
    <define name="db.synopsis.blocks" combine="choice">
      <a:documentation>Then the synopsis.</a:documentation>
      <ref name="qdt.macrosynopsis"/>
    </define>
    <define name="qdt.macrosynopsis.role.attribute">
      <attribute name="role"/>
    </define>
    <define name="qdt.macrosynopsis.attlist">
      <interleave>
        <optional>
          <ref name="qdt.macrosynopsis.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.common.linking.attributes"/>
        <optional>
          <ref name="db.language.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="qdt.macrosynopsis.info">
      <ref name="db._info.title.forbidden"/>
    </define>
    <define name="qdt.macrosynopsis">
      <element name="macrosynopsis">
        <ref name="qdt.macrosynopsis.attlist"/>
        <ref name="qdt.macrosynopsis.info"/>
        <oneOrMore>
          <choice>
            <ref name="qdt.macrosynopsisinfo"/>
            <ref name="qdt.macroprototype"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="qdt.macrosynopsisinfo.role.attribute">
      <attribute name="role"/>
    </define>
    <define name="qdt.macrosynopsisinfo.attlist">
      <interleave>
        <optional>
          <ref name="qdt.macrosynopsisinfo.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.common.linking.attributes"/>
        <ref name="db.verbatim.attributes"/>
      </interleave>
    </define>
    <define name="qdt.macrosynopsisinfo">
      <element name="macrosynopsisinfo">
        <ref name="qdt.macrosynopsisinfo.attlist"/>
        <ref name="db.verbatim.contentmodel"/>
      </element>
    </define>
    <define name="qdt.macroprototype.role.attribute">
      <attribute name="role"/>
    </define>
    <define name="qdt.macroprototype.attlist">
      <interleave>
        <optional>
          <ref name="qdt.macroprototype.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.common.linking.attributes"/>
      </interleave>
    </define>
    <define name="qdt.macroprototype">
      <element name="macroprototype">
        <ref name="qdt.macroprototype.attlist"/>
        <zeroOrMore>
          <ref name="db.modifier"/>
        </zeroOrMore>
        <ref name="qdt.macrodef"/>
        <choice>
          <ref name="db.void"/>
          <ref name="db.varargs"/>
          <group>
            <oneOrMore>
              <choice>
                <ref name="db.paramdef"/>
                <ref name="db.group.paramdef"/>
              </choice>
            </oneOrMore>
            <optional>
              <ref name="db.varargs"/>
            </optional>
          </group>
        </choice>
        <zeroOrMore>
          <ref name="db.modifier"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="qdt.macrodef.role.attribute">
      <attribute name="role"/>
    </define>
    <define name="qdt.macrodef.attlist">
      <interleave>
        <optional>
          <ref name="qdt.macrodef.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.common.linking.attributes"/>
      </interleave>
    </define>
    <define name="qdt.macrodef">
      <element name="macrodef">
        <ref name="qdt.macrodef.attlist"/>
        <zeroOrMore>
          <choice>
            <ref name="db._text"/>
            <ref name="db.type"/>
            <ref name="qdt.macro"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <!-- Deal with enums. -->
  <div>
    <define name="db.programming.inlines" combine="choice">
      <a:documentation>First the inline elements. </a:documentation>
      <choice>
        <ref name="qdt.enumname"/>
        <ref name="qdt.enumvalue"/>
        <ref name="qdt.enumidentifier"/>
      </choice>
    </define>
    <define name="qdt.enumname.role.attribute">
      <attribute name="role"/>
    </define>
    <define name="qdt.enumname.attlist">
      <interleave>
        <optional>
          <ref name="qdt.enumname.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.common.linking.attributes"/>
      </interleave>
    </define>
    <define name="qdt.enumname">
      <element name="enumname">
        <ref name="qdt.enumname.attlist"/>
        <ref name="db._text"/>
      </element>
    </define>
    <define name="qdt.enumvalue.role.attribute">
      <attribute name="role"/>
    </define>
    <define name="qdt.enumvalue.attlist">
      <interleave>
        <optional>
          <ref name="qdt.enumvalue.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.common.linking.attributes"/>
      </interleave>
    </define>
    <define name="qdt.enumvalue">
      <element name="enumvalue">
        <ref name="qdt.enumvalue.attlist"/>
        <ref name="db._text"/>
      </element>
    </define>
    <define name="qdt.enumidentifier.role.attribute">
      <attribute name="role"/>
    </define>
    <define name="qdt.enumidentifier.attlist">
      <interleave>
        <optional>
          <ref name="qdt.enumidentifier.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.common.linking.attributes"/>
      </interleave>
    </define>
    <define name="qdt.enumidentifier">
      <element name="enumidentifier">
        <ref name="qdt.enumidentifier.attlist"/>
        <ref name="db._text"/>
      </element>
    </define>
    <define name="db.synopsis.blocks" combine="choice">
      <a:documentation>Then the synopsis.</a:documentation>
      <ref name="qdt.enumsynopsis"/>
    </define>
    <define name="qdt.enumitem.role.attribute">
      <attribute name="role"/>
    </define>
    <define name="qdt.enumitem.attlist">
      <interleave>
        <optional>
          <ref name="qdt.enumitem.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.common.linking.attributes"/>
      </interleave>
    </define>
    <define name="qdt.enumitem">
      <element name="enumitem">
        <ref name="qdt.enumvalue.attlist"/>
        <ref name="qdt.enumidentifier"/>
        <optional>
          <ref name="qdt.enumvalue"/>
        </optional>
      </element>
    </define>
    <define name="qdt.enumsynopsis.attlist">
      <interleave>
        <ref name="db.common.attributes"/>
        <ref name="db.common.linking.attributes"/>
        <optional>
          <ref name="db.language.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="qdt.enumsynopsis">
      <element name="enumsynopsis">
        <ref name="qdt.enumsynopsis.attlist"/>
        <oneOrMore>
          <ref name="db.programming.inlines"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="qdt.enumitem"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <!-- Deal with typedefs. -->
  <div>
    <define name="db.programming.inlines" combine="choice">
      <a:documentation>First the inline elements. </a:documentation>
      <ref name="qdt.typedefname"/>
    </define>
    <define name="qdt.typedefname.role.attribute">
      <attribute name="role"/>
    </define>
    <define name="qdt.typedefname.attlist">
      <interleave>
        <optional>
          <ref name="qdt.typedefname.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.common.linking.attributes"/>
      </interleave>
    </define>
    <define name="qdt.typedefname">
      <element name="typedefname">
        <ref name="qdt.typedefname.attlist"/>
        <ref name="db._text"/>
      </element>
    </define>
    <define name="db.synopsis.blocks" combine="choice">
      <a:documentation>Then the synopsis.</a:documentation>
      <ref name="qdt.typedefsynopsis"/>
    </define>
    <define name="qdt.typedefsynopsis.attlist">
      <interleave>
        <ref name="db.common.attributes"/>
        <ref name="db.common.linking.attributes"/>
        <optional>
          <ref name="db.language.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="qdt.typedefsynopsis">
      <element name="typedefsynopsis">
        <ref name="qdt.typedefsynopsis.attlist"/>
        <ref name="qdt.typedefname"/>
        <zeroOrMore>
          <ref name="db.programming.inlines"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
</grammar>
